<div class="container text-center">
    <h2>This is Order HOME</h2>
</div>
<div class="container">
    <div class="row my-4">
        <div class="col-lg-12">
            <% if (message) { %>
                <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong>
                        <%= message.message %>
                    </strong>
                </div>
                <% } %>
                    <div class="table-responsive mx-4">

                        <% if (order !='' ) { %>
                            <table id="dataTable" class="table table-striped mx-4 text-center">
                                <br>
                                <thead>
                                    <tr class="table-dark">
                                        <th>ID</th>
                                        <th>UserName</th>
                                        <th>Total Price</th>
                                        <th>Payment Method</th>
                                        <th>Address</th>
                                        <th>State</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% order.forEach((row, index)=> { %>
                                        <tr class="align-middle">
                                            <td>
                                                <%= index + 1 %>
                                            </td>
                                            <td>
                                                <%= row.user.name%>
                                            </td>
                                            <td>
                                                <%= row.totalPrice %>
                                            </td>
                                            <td>
                                                <% if (row.paymentMethod === "cash") { %>
                                                    Chuyển khoản <!-- Display this if payment method is "cash" -->
                                                <% } else { %>
                                                    Tiền mặt <!-- Display this if payment method is not "cash" -->
                                                <% } %>
                                            </td>
                                            <td>
                                                <p>Mobile No: <%= row.shippingAddress.mobileNo %></p>
                                                <p>House No: <%= row.shippingAddress.houseNo %></p>
                                                <p>Street: <%= row.shippingAddress.street %></p>
                                                <p>Landmark: <%= row.shippingAddress.landmark %></p>
                                                <p>Postal Code: <%= row.shippingAddress.postalCode %></p>
                                            </td>
                                            <td>
                                                <% if (row.paymentMethod === "cash") { %>
                                                    Đã thanh toán <!-- Display this if payment method is "cash" -->
                                                <% } else { %>
                                                     <!-- Display this if payment method is not "cash" -->
                                                <% } %>
                                            </td>
                                            <td>
                                                <form action="/update-payment-method/<%= row._id %>" method="POST" style="display:inline;">
                                                    <button type="submit" class="btn btn-link text-success p-0">
                                                        <i class="fas fa-money-bill fa-lg mx-1"></i>
                                                    </button>
                                                </form>
                                                <a href="/edit/order/<%= row._id %>" class="text-success"><i
                                                        class="fas fa-edit fa-lg mx-1"></i></a>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>

                            <% } else { %>
                                <h1 class="text-center text-secondary mt-5"> No user in the database</h1>
                                <% } %>
                    </div>
        </div>
    </div>
</div>